.courses-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    margin-top: 30px;
    margin-left: 30px;
}
.courses-left li{
    margin-top: 30px;
}
.left-link{
    text-decoration: none;
    font-weight: 500;
}
.left-link:hover{
    font-size: large;
    font-weight: 600;
    color: rgb(17, 204, 17);
}
.card-btn{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0%;
    left: 30%;
    margin-top: 20px;
    
}
.course-info{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 500;
}
.course-info p{
    margin: 10px;
}